.logo__container {
  display: flex;
  margin: 30px 138px 0px;
}

.logo__img {
  width: 164px;
  height: 100%;
  cursor: pointer;
}

@media screen and (max-width: 850px) {
  .logo__container {
    margin: 50px 9vw 0px;
  }
}