.questionScreen__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  
  max-height: min-content;
  max-width: 80%;
  width: auto;

  border: 2px solid var(--color-main);
  border-radius: var(--border-radius);
  padding: 4vh;
  margin : 2.7% 23%;
  transition: all 0.15s;
  opacity: 0;
  animation: ScreenAnimation 0.5s;
  animation-fill-mode: forwards;
}

.questionScreen__button-score-area {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}

@media screen and (max-width: 850px) {
  .questionScreen__container {
    width: 85vw;
    margin: 15% auto;  
    padding: 3vh;
  }
}