.questionItem__container {
  width: 100%;  
  /* background-color: #000; */
}

.questionItem__question {
  font-size: 24px;
  /* color: var(--color-disabled-gray); */
}

.questionItem__answer-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 1vh 0 3.5vh 0;
}

@media screen and (max-width: 850px) {
  .questionItem__answer-container {
    margin: 1vh 0 2.5vh 0;
    /* justify-content: flex-start; */
  }
  .questionItem__question {
    font-size: 18px;
  }
}

@media screen and (max-width: 550px) {
  .questionItem__answer-container {
    margin: 0vh 0 2vh 0;
    /* justify-content: flex-start; */
  }
  .questionItem__question {
    font-size: 20;
  }  
}