.start__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  
  width: 54%;
  border: 2px solid var(--color-main);
  border-radius: var(--border-radius);
  padding: 4%;
  margin: 8% 23% 0px;
  animation: ScreenAnimation 1s;
}

.start__text {
  font-size: var(--main-font-size);
  /* padding: 72px 100px 0px; */
  margin-bottom: 4%;
  line-height: 24px;
  /* width: 100%; */
}

.start__text p {
  margin-bottom: 10px;
}

.start__accent-green {
  color: var(--color-correct-green);
  font-weight: bold;
  margin: 5px;
}
.start__accent-orange {
  color: var(--color-accent-orange);
  font-weight: bold;
  margin: 5px;
}
.start__accent-yellow {
  color: var(--color-accent-yellow);
  font-weight: bold;
  margin: 5px;
}

@media screen and (max-width: 850px) {
  .start__container {
    width: 75vw;
    margin: 20% auto;  
    /* margin: auto; */
  }
}

@media screen and (max-width: 550px) {
  .start__text {
    font-size: var(--button-font-size); 
    padding: 12.9%;
  }
}

