* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: var(--font-family);
}

body {
  background: var(--color-bg);
  display: flex; 
  flex-direction: column;
  height: 100vh;
  height: var(--doc-height);
}

.App__container {
  display: flex;
  flex-direction: column;
  /* background-color: #000; */
  height: 100vh;
  height: fill-available;
}

.App__blob {
  width: 30vw;
  position: fixed;
  pointer-events: none;
  z-index: -1;
}

.yellow {
  left: 0;
  bottom: 0;
}

.orange {
  right: 0;
  top: 0;
  scale: -1 1;
}

@keyframes ScreenAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media screen and (max-width: 850px) { 
  .App__blob {
    width: 30vw;
  }

  .yellow {
    bottom: -65px;
  }

  .orange {
    top: -75px;
  }
}